./git/*
./git
.DS_Store
publish.properties
/target/
.idea/
*.iml
.factorypath
.classpath
.project
.settings
.springBeans
.publish.properties
dump.rdb
out/
.vscode
node_modules
package-lock.json
*.html
*.png
*.cvs
/github/workspace/